/* Custom Colors */
:root {
    --primary-orange: hsl(35, 77%, 62%);
    --primary-red: hsl(5, 85%, 63%);

    --neutral-100: hsl(36, 100%, 99%);
    --neutral-300: hsl(233, 8%, 79%);
    --neutral-500: hsl(236, 13%, 42%);
    --neutral-700: hsl(240, 100%, 5%);

}

/* Typography */
p {
    font-size: 15px;
}

body {
    font-family: "Inter", sans-serif;
}

.bold {
    font-weight: 700;
}
.bolder {
    font-weight: 800;
}

/* Custom Styles */

.nav-link, .description{
    color: var(--neutral-500);
}
.nav-link:active {
    color: var(--primary-orange);
}

#new {
    background: var(--neutral-700);
}
#new h2 {
    color: var(--primary-orange);
    font-weight: 700;
    font-size: 2.5rem;
}
#new h3 a {
    color: var(--neutral-100);
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}
#new h3 a:active {
    color: var(--primary-orange);
}
#new p {
    line-height: 1.8;
    color: var(--neutral-300);
}

#new p:not(:last-child) {
    border-bottom: 1px solid var(--neutral-300);
}

h1 {
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 1.1;
    color: var(--neutral-700);
}

.button {
    border-radius: 0;
    border: 1px solid var(--neutral-300);
    background-color: var(--primary-red);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1rem;
}
.button:active {
    background: var(--neutral-700) !important;
    border: 1px solid var(--neutral-700) !important;
}
.button:hover {
    background-color: var(--primary-red);
    border: 1px solid var(--neutral-300);
}
#trending img {
    width: auto;
}
#trending span {
    color: var(--neutral-300);
    font-weight: 700;
    font-size: 2.5rem;
}

#trending h3 a {
   font-size: 1.4rem;
   color:var(--neutral-700);
   font-weight: 800;
   text-decoration: none;
}

#trending h3 a:active {
    color: var(--primary-red);
}

.navbar-nav {
    align-items: end;
}